body,
html {
  height: 100%;
}

body {
  /* background-color: aqua; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg");
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#workout-name {
  color: white;
}

#activity,
#activity-submit {
  background-color: rgba(171, 171, 171, 0.499);
  border: 2px solid #b2dfdb;
  border-radius: 5px; /* Black background with 0.5 opacity */
  /* background-color: black; */
  padding: 5px;
  font-size: small;
  text-align: center;
}

ul {
  color: white;
}

@media (max-width: 768px) {
  #workout-output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 320px) {
  #workout-output-container {
    height: 100%;
    width: 100%;
  }
}
